body {
    min-height: 100vh;
    font-family: Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FFC0CB;
    background: linear-gradient(0deg, #FFC0CB, #FFFFFF);
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
    padding: 2rem;
    background: radial-gradient(at center, lightpink, hotpink);
}

h2 {
    font-size: 72px;
    margin: 0rem 0rem 2.5rem;
    text-align: center;
}

.square {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}

.box {
    width: 300px;
    height: 300px;
    background: radial-gradient(at center, lightpink, hotpink);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 2rem;
    border: 2px solid;
}

h3 {
    margin-bottom: 1rem;
}

.input-field {
    padding: 1rem;
    font-size: 18px;
    text-align: center;
    margin-bottom: 1.5rem;
    border: 2px solid #000;
    border-radius: 5px;
}

.btn {
    padding: 1rem;
    font-family: Verdana, sans-serif;
    margin-bottom: 1rem;
    background: conic-gradient(from 40deg, #FFC0CB, #FFFFFF);
    cursor: pointer;
}

.btn:hover {
    color: white;
    background: black;
}
